<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/header'); %>
	
	<!-- Container -->
	<div class="containerLogged">
		<div class="row">
			<div class="col-md-3">
				<h2><%= user.nombre %> </h2>
				<img src="../images/avatars/<%= user.avatar %>" width="100%">
				<br>
				<br>
				<div class="alert alert-success">Nombre del usuario: <%= user.usuario %> </div>
				<br>
				<br>
				<div class="alert alert-success">Perfil del usuario: <%= user.perfilUsuario %> </div>
				<br>
				<br>
				<div class="alert alert-success">Email del usuario: <%= user.email %> </div>
				<br>
				<br>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('partials/footer'); %>
</body>
</html>