<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>
        <form action="/user/Login" method="POST">
            <div class="contenedor1">
                <label for="nombre"></label>
                <input type="text" placeholder="Nombre de usuario" name="usuario" id="usuario">
                <% if(locals.errors && errors.usuario){ %>
                    <div><%= errors.usuario.msg %></div>
                <% } %>
                <label for="contraseña"></label>
                <input type="password" placeholder="Contraseña" name="password" id="password">
                <% if(locals.errors && errors.password){ %>
                    <div><%= errors.password.msg %></div>
                <% } %>
                <div class="contenedor7">
                    <label for="submit" method="POST"></label>
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </main>
   
    <%- include('partials/footer') %>

</body>

</html>